body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 58px;
  padding-bottom: 110px;
  background-color: #eeeeee;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
}

.container-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-logo img {
  display: block;
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 0;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  padding-top: 49px;
  background-color: #eeeeee;
  padding-bottom: 18px;
}


.site-nav {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-top:14px;
}

.site-nav a,
.order-cart {
  text-transform: uppercase;
  display: block;
  color: #000000;
  vertical-align: middle;
  padding: 12px 0px;
}

.order-cart {
  box-sizing: border-box;
  width: 160px;
  margin-top:14px;
  padding-left: 86px;

  background: url("../img/cart-icon.svg") no-repeat 45px 19px;
}

.site-nav a:hover,
.order-cart:hover,
.site-nav a:focus,
.order-cart:focus  {
  color: #fb565a;
}

.site-nav a:active,
.order-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.3;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px; 
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i:after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: #ffffff;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;

  padding: 60px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% -18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  display: block;

  max-width: 600px;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  color: #000000;

}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;

  line-height: 24px;
  font-weight: normal; 
}

.slider-item-button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item-button:hover,
.slide-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.cases {
  padding: 0 0;
  margin-top: 80px;
}

.case-items {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  list-style: none;
}

.item-sites {
  width: 300px;
  padding-top: 174px;

  background: url("../img/illustration-1.jpeg") no-repeat 0 0;
}

.item-apps {
  width: 300px;
  padding-top: 174px;
  margin-left: 100px;
  background: url("../img/illustration-2.jpeg") no-repeat 0 0;
}

.item-pres {
  width: 300px;
  padding-top: 174px;
  margin-left: 100px;
  background: url("../img/illustration-3.jpeg") no-repeat 0 0;
}

.case-items li h3 {
  margin: 0;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.case-items li p {
  width: 260px;

  font-style: normal;
  font-weight: 400;
  font-display: swap;
  line-height: 24px;
  margin-bottom: 36px;
  margin-top: 21px;
  color: #283136;
}

.case-items a {
  position: relative;
  z-index: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 19px;
  border-radius: 3px;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  
  color: #ffffff;
  background-color: #fb565a;
}

.item-apps a{
  background-color: #00ca74;
}

.item-pres a {
  background-color: #efc84a;
}

.case-items a:hover {
  background-color: #e74246;
}

.case-items a:active {
  background-color: #c13135;
  color: rgba(255, 255, 255, 0.3);
}

.case-items a:active::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 0;
  width: 160px;
  height: 47px;
  
  background-color: #d7373b;
  border-radius: 3px;
}

.item-apps a:hover{
  background-color: #00bc6c;
}

.item-apps a:active{
  background-color: #009958;
  color: rgba(255, 255, 255, 0.3);
}

.item-apps a:active:after{
  background-color: #00aa62;
}

.item-pres a:hover {
  background-color: #eab534;
}

.item-pres a:active {
  background-color: #ce961f;
  color: rgba(255, 255, 255, 0.3);
}

.item-pres a:active:after {
  background-color: #e5a722;
}

.about {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  border-top: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.about-us {
  max-width: 660px;
  margin-top: 36px;
}

.about-header {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us p {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;

  margin: 0;
  padding-top: 33px;
}

.orders-header-list {
  display: block; 
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  padding-top: 40px;
}

.orders-list {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
  padding: 0;
  padding-left: 37px;
  margin: 0;
  margin-top: 24px;
}


.orders-list li {
  position: relative;
  margin-bottom: 23px;
}

.orders-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: 0;
  background-color: red;
  margin-left: -37px;

}

.about-stats {
  max-width: 360px;
}

.about-logo {
  margin: 0;
  padding: 0;
}

.about-logo img {
  display: block;
  margin: 0;
  padding: 0;
}

.about-stats span {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  margin-top: 36px;

  text-align: center;
}

.about-stats dl {
  display: flex;
  margin: 0;
  margin-top: 41px;
}

.percent-case {
  display: flex;
  flex-direction: column;
}

.percent-case dt {
  order: 2;

  font-size: 16px;
  line-height: 18px;

  color: #283136;
  font-weight: normal;
}

.percent-case dd {
  order: 1;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  margin-right: 20px;

  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.percent-case sup {
  top: -14px;
  font-size: 60%;
}

.our-clients {
  min-height: 180px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  margin-top: 49px;

  list-style: none;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}

.clients-item {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  margin-right: 20px;
} 

.clients-item:nth-of-type(4n) {
  width: 260px;
  padding-right: 0;
  margin-right: 0;
}


.our-clients li::after {
  content: "";
  
  position: absolute;
  top: 50%;
  right: 0;
  
  width: 2px;
  height: 52px;
  margin-top: -26px;

  background-color: #eeeeee;
}

.our-clients li:last-of-type::after {
  content: none;
}

.clients-item a {
  opacity: 0.2;
  padding-top: 6px;
}

.clients-item a:hover,
.clients-item a:focus {
  opacity: 1;
}

.clients-item a:active {
  opacity: 0.1;
}

.clients-link img {
  vertical-align: bottom;
}

.map {
  width: 100%;
  height: 416px;
  background: url("../img/map.jpg") no-repeat 50% 40%;
}

.map .container-wrapper {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.feedback {
  box-sizing: border-box;
  width: 319px;
  padding: 0 50px;
  padding-top: 48px;
  background-color: white;
}

.feedback h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.feedback p {
  max-width: 209px;


  font-size: 16px;
  line-height: 18px;
  font-weight: normal;

  color: #666666;
}

.address .tel {
  display: block;
  margin-top: 18px;
}

.feedback-button {
  position: relative;
  z-index: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 219px;
  height: 50px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 18px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #fb565a;

  margin-bottom: 47px;
}

.feedback-button:hover {
  background-color: #e74246;
}

.feedback-button:active {
  background-color: #c13135;
  color: rgba(255, 255, 255, 0.3);
}

.feedback-button:active::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 0;
  width: 219px;
  height: 47px;
  
  background-color: #d7373b;
  border-radius: 3px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.filter fieldset:first-child {
  margin-bottom: 43px;
}

.filter legend {
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 20px;

  font-size: 16px;
  font-weight: normal;

  color: #283136;
}

.filter-option {
  margin-bottom: 17px;
  padding-left: 36px;
}

 .filter-grid .filter-option:last-child {
   margin-bottom: 0;
 }

 .filter-feature .filter-option:last-child {
  margin-bottom: 0;
 }

 .filter-option label {
   position: relative;
   padding-bottom: 3px;

   display: block;

   cursor: pointer;
   user-select: none;
 }

 .filter-input-radio + label::before {
   content: "";
   position: absolute;

   left: -35px;
   top: -3px;
   width: 25px;
   height: 25px;
   background: url("../img/radio-off.svg") 0 0 no-repeat;

   opacity: 0.4;
 }

 .filter-input-radio + label:hover::before {
  opacity: 1;
}

 .filter-input-radio:checked + label::before {
  content: "";
  position: absolute;

  left: -35px;
  top: -3px;
  width: 25px;
  height: 25px;
  background: none;
  background: url("../img/radio-on.svg") 0 0 no-repeat;

  opacity: 0.4;
 }


 .filter-input-radio:checked + label:hover::before {
   opacity: 1;
 } 

 .filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  left: -35px;
  top: -3px;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg") 0 0 no-repeat;

  opacity: 0.4;
}

.filter-input-checkbox + label:hover::before {
 opacity: 1;
}

.filter-input-checkbox:checked + label::before {
 content: "";
 position: absolute;

 left: -35px;
 top: -3px;
 width: 23px;
 height: 23px;
 background: none;
 background: url("../img/checkbox-on.svg") 0 0 no-repeat;

 opacity: 0.4;
}


.filter-input-checkbox:checked + label:hover::before {
  opacity: 1;
} 

.filter-input:disabled + label {
  opacity: 0.1;
}


.filter .button {
  position: relative;
  z-index: 1;
  width: 260px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  border: none;

  font: inherit;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  background-color: #eeeeee;
  color: #000000;
  outline: none;

  cursor: pointer;
}

.filter .button:hover {
  background-color: #dfdfdf;

  outline: none;
}

.filter .button:active::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 0;
  width: 260px;
  height: 47px;
  
  background-color: #d5d5d5;
  border-radius: 3px;

  outline: none;
}

.filter .button:active {
  background-color: #bfbfbf;
  color: rgba(0,0,0,0.3); 
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.catalog-item {
  margin-bottom: 34px;
}

.item-case {
  position: relative;
  text-align: center;
  width: 358px;
  margin: 0;
}

.item-case svg,
.item-case img {
  display: block;
  margin: 0;
  padding: 0;
}

.item-case path {
  fill: #e9e9e9;
}

.item-case:hover path {
  fill: #4d4d4d;
}

.item-case:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25)
}

.item-case img {
  border: 1px solid #e9e9e9;
  border-top: none;
}

.item-descr {
  position: absolute;
  bottom: 0;
  display: none;
  padding-bottom: 44px;
  width: 360px;
  height: 230px;
  box-sizing: border-box;

  background-color: #eeeeee;

}

.item-case:hover .item-descr {
  display: block;
}

.item-descr h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-top: 29px;
}

.item-descr .item-details {
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  color: #666666;
}

.item-price {
  position: absolute;
  z-index: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  padding-top: 17px;
  padding-bottom: 19px;
  text-align: center;
  border-radius: 3px;
  bottom: 43px;
  left: 80px;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  
  background-color: #fb565a;
  color: #ffffff;
}

.item-price:hover {
  background-color: #e74246;
}

.item-price:active {
  background-color: #c13135;
}

.item-price:active::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 0;
  width: 200px;
  height: 47px;
  
  background-color: #d7373b;
  border-radius: 3px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 11px;
  margin-top: 26px;
}

.pagination-item:last-child {
  margin-right: 0;
  min-width: 260px;
  text-align: center;
}

.pagination-item a {
  display: block;
  position: relative;
  z-index: 1;
  padding: 16px 21px;
  border-radius: 3px;

  line-height: 18px;
  
  color: black;
  text-decoration: none;
  background-color: #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #bfbfbf;
}

.pagination-item a:active::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #d5d5d5;

  width: 100%;
  height: 47px;
  top: 3px;
  left: 0;

  border-radius: 3px;
}

.pagination-item-current a {
  background: none;
  border: 3px solid #eeeeee;
  padding: 13px 18px;
}

.pagination-item-current a:hover {
  background-color: white;
}

.pagination-item-current a:active {
  background-color: white;
}

.pagination-item-current a:active::before {
  content: "";
  width: 0;
  height: 0;
  background-color: white;
}

.main-footer {
  margin-top: 80px;
  margin-bottom: 70px;
}

.main-footer .container {
  display: flex;
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.social-btns {
  display: flex;
  margin: 0;
  padding: 0;
  width: 260px;
  list-style: none;
  justify-content: space-between;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;
  border-radius: 50%;

  background-color: #e1e1e1;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-sale {
  width: 560px;
  margin-left: 140px;
  align-self: center;
}

.footer-sale b {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  padding: 0;
  margin: 0;
}

.footer-sale p {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  color: #444444;
}