body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 30px;
  font-weight: 500;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container h1 {
  margin: 0;
  padding: 0;
  padding-top: 79px;
  padding-bottom: 107px;
  text-align: center;
  
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

  background-color: #eeeeee;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
}

.container-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-logo img {
  display: block;
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 0;
  padding-top: 49px;
  padding-bottom: 0;

  font-size: 16px;
  line-height: 30px;
  color: #000000;

  background-color: #eeeeee;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top:14px;

  list-style: none;
}

.site-nav a,
.order-cart {
  display: block;
  padding: 12px 0px;
  padding-bottom: 4px;

  text-transform: uppercase;
  color: #000000;
}

.site-nav a.current {
  border-bottom: 2px solid #fb565a;
}

.order-cart {
  box-sizing: border-box;
  width: 160px;
  margin-top:14px;
  padding-left: 86px;

  background: url("../img/cart-icon.svg") no-repeat 45px 19px;
}

.site-nav a:hover,
.order-cart:hover,
.site-nav a:focus,
.order-cart:focus  {
  color: #fb565a;
}

.site-nav a:active,
.order-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-logo img:hover {
  opacity: 0.8;
}

.main-logo img:active {
  opacity: 0.3;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px; 
  z-index: 100;

  width: 160px;
  height: 18px;
  text-align: center;

  font-size: 0;

  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i:after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: #ffffff;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 397px 0;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item h3 {
  display: block;
  max-width: 600px;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  color: #000000;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;

  line-height: 24px;
  font-weight: normal; 
}

.slider-item-button {
  display: block;
  box-sizing: border-box;
  width: 240px;
  height: 50px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item-button:hover,
.slide-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.cases {
  padding: 0 0;
  margin-top: 80px;
}

.case-items {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;

  list-style: none;
}

.item-sites {
  width: 300px;
  padding-top: 171px;

  background: url("../img/illustration-1.jpeg") no-repeat 0 0;
}

.item-apps {
  width: 300px;
  padding-top: 171px;
  margin-left: 100px;

  background: url("../img/illustration-2.jpeg") no-repeat 0 0;
}

.item-pres {
  width: 300px;
  padding-top: 171px;
  margin-left: 100px;

  background: url("../img/illustration-3.jpeg") no-repeat 0 0;
}

.case-items h3 {
  margin: 0;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.case-items p {
  width: 260px;

  font-style: normal;
  font-weight: 400;
  font-display: swap;
  line-height: 24px;
  margin-bottom: 33px;
  margin-top: 13px;
  padding-top: 3px;
  color: #283136;
}

.case-items a {
  position: relative;
  z-index: 1;

  display: inline-block;
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 19px;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.item-apps a{
  background-color: #00ca74;
}

.item-pres a {
  background-color: #efc84a;
}

.case-items a:hover {
  background-color: #e74246;
}

.case-items a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #c13135;
}

.case-items a:active::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 0;
  width: 160px;
  height: 47px;
  
  background-color: #d7373b;
  border-radius: 3px;
}

.item-apps a:hover{
  background-color: #00bc6c;
}

.item-apps a:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #009958;
}

.item-apps a:active:after{
  background-color: #00aa62;
}

.item-pres a:hover {
  background-color: #eab534;
}

.item-pres a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #ce961f;
}

.item-pres a:active:after {
  background-color: #e5a722;
}

.about {
  display: flex;
  padding: 0;
  padding-top: 40px;
  margin-bottom: 51px;

  border-top: 2px solid #eeeeee;
}

.about-us {
  width: 660px;
  margin-top: 33px;
  margin-right: 140px;
}

.about-header {
  display: block;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us p {
  margin: 0;
  padding-top: 33px;

  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
}

.orders-header-list {
  display: block; 
  padding-top: 40px;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}

.orders-list {
  padding: 0;
  padding-left: 37px;
  margin: 0;
  margin-top: 24px;

  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;

  list-style: none;
}


.orders-list li {
  position: relative;

  margin-bottom: 23px;
}

.orders-list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;

  width: 25px;
  height: 2px;
  margin-left: -37px;

  background-color: red;
}

.about-stats {
  width: 360px;
}

.about-logo {
  margin: 0;
  padding: 0;
}

.about-logo img {
  display: block;
  margin: 0;
  padding: 0;
}

.about-stats span {
  display: block;
  text-align: center;
  margin-top: 36px;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}

.about-stats dl {
  display: flex;
  width: 360px;
  margin: 0;
  margin-top: 41px;
}

.percent-case {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-right: 22px;
}

.percent-case:last-child {
  margin-right: 0;
}

.percent-case dt {
  display: block;
  margin: 0;
  padding: 0;
  order: 2;

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #283136;
}

.percent-case dd {
  display: block;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  order: 1;

  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.percent-case sup {
  top: -15px;

  font-size: 58%;
}

.our-clients {
  display: flex;
  flex-wrap: wrap;
  min-height: 180px;
  margin: 0;
  margin-top: 51px;
  margin-bottom: 80px;
  padding-left: 0;

  list-style: none;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}

.clients-item {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  min-height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  margin-right: 20px;
} 

.clients-item:nth-of-type(4n) {
  width: 260px;
  padding-right: 0;
  margin-right: 0;
}


.our-clients li::after {
  content: "";
  
  position: absolute;
  top: 50%;
  right: 0;
  
  width: 2px;
  height: 52px;
  margin-top: -26px;

  background-color: #eeeeee;
}

.our-clients li:last-of-type::after {
  content: none;
}

.clients-item img {
  padding-top: 6px;

  opacity: 0.2;
}

.clients-link img:hover,
.clients-link img:focus {
  opacity: 1;
}

.clients-link img:active {
  opacity: 0.1;
}

.clients-link img {
  vertical-align: middle;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0 20px;
  width: 1160px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;

  border: none;
}

.range {
  width: 260px;
  margin-top: 56px;
}

.filter fieldset:first-child {
  margin-bottom: 53px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.bar {
  margin-left: 20%; 
  width: 70%
}

.range-controls .bar {
  width: 30%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.filter legend {
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-range legend {
  margin: 0;
  padding: 0;

  line-height: 18px;
}

.filter ul {
  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #283136;

  list-style: none;
}

.filter-option {
  margin-bottom: 17px;
  padding-left: 36px;
}

 .filter-grid .filter-option:last-child {
   margin-bottom: 0;
 }

 .filter-feature .filter-option:last-child {
  margin-bottom: 0;
 }

 .filter-option label {
   position: relative;
   padding-bottom: 3px;

   display: block;

   cursor: pointer;
   user-select: none;
 }

 .filter-input-radio + label::before {
   content: "";
   position: absolute;
   left: -35px;
   top: -3px;

   width: 25px;
   height: 25px;
   
   background: url("../img/radio-off.svg") 0 0 no-repeat;
   opacity: 0.4;
 }

 .filter-input-radio + label:hover::before {
  opacity: 1;
}

 .filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;

  width: 25px;
  height: 25px;

  background: none;
  background: url("../img/radio-on.svg") 0 0 no-repeat;
  opacity: 0.4;
 }


 .filter-input-radio:checked + label:hover::before {
  opacity: 1;
 } 

 .filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;

  width: 26px;
  height: 23px;

  background: url("../img/checkbox-off.svg") 0 0 no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;

  width: 26px;
  height: 23px;

  background: none;
  background: url("../img/checkbox-on.svg") 0 0 no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:focus::before {
  opacity: 1;
} 

.filter-input:disabled + label {
  opacity: 0.1;
}

.filter .button {
  position: relative;
  z-index: 1;

  width: 260px;
  height: 50px;
  margin-top: 4px;
  text-align: center;
  vertical-align: middle;

  font: inherit;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  background-color: #eeeeee;
  color: #000000;
  outline: none;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.filter .button:hover,
.filter .button:focus {
  background-color: #dfdfdf;
  outline: none;
}

.filter .button:active {
  color: rgba(0,0,0,0.3); 

  background-color: #d5d5d5;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button > span {
  position: relative;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.sort span {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.sort-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.sort-button {
  display: block;
  margin: 0;
  padding: 0;
  height: 16px;

  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;

  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  opacity: 0.3;
}

.sort-button.enabled,
.sort-button.enabled:hover,
.sort-button.enabled:focus,
.sort-button.enabled:active {
  opacity: 1;
}

.sort-button:hover,
.sort-button:focus {
  opacity: 0.6;
}

.sort-button:active {
  opacity: 1;
}

.sort-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40px;
}

.dir-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 11px;
  height: 10px;
  
  font-size: 0;

  cursor: pointer;
  border: none;
  outline: none;
  opacity: 0.2;
}

.dir-button.enabled,
.dir-button.enabled:hover,
.dir-button.enabled:focus,
.dir-button.enabled:active {
  opacity: 1;
}

.dir-button.down {
  background: url("../img/icon-down-dir.svg") no-repeat 0 0;
}

.dir-button.up {
  background: url("../img/icon-up-dir.svg") no-repeat 0 0;
}

.dir-button:hover,
.dir-button:focus {
  opacity: 0.6;
}

.dir-button:active {
  opacity: 1;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  margin-bottom: 34px;
}

.item-case {
  position: relative;

  text-align: center;
  width: 358px;
  margin: 0;
}

.item-case svg,
.item-case img {
  display: block;
  margin: 0;
  padding: 0;
}

.item-case path {
  fill: #e9e9e9;
}

.item-case:hover path {
  fill: #4d4d4d;
}

.item-case:hover,
.item-case:focus {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25)
}

.item-case img {
  border: 1px solid #e9e9e9;
  border-top: none;
}

.item-descr {
  position: absolute;
  bottom: 0;

  box-sizing: border-box;
  display: none;
  padding-bottom: 44px;
  width: 360px;
  max-width: 360px;
  height: 230px;
  overflow: hidden;

  background-color: #eeeeee;
}

.item-case:hover .item-descr,
.item-case:focus .item-descr {
  display: block;
}

.item-descr h3 {
  margin: 0;
  margin-top: 29px;

  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}

.item-descr .item-link {
  color: #000000;
}

.item-descr .item-details {
  margin: 0;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  word-wrap: break-word;

  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;

  color: #666666;
}

.item-price {
  position: absolute;
  z-index: 1;
  bottom: 43px;
  left: 80px;

  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  padding-top: 17px;
  padding-bottom: 19px;
  text-align: center;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  
  border-radius: 3px;
  background-color: #fb565a;
  color: #ffffff;
}

.item-price:hover {
  background-color: #e74246;
}

.item-price:active {
  background-color: #c13135;
}

.item-price:active::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 0;
  
  width: 200px;
  height: 47px;
  
  background-color: #d7373b;
  border-radius: 3px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;

  list-style: none;
}

.pagination-item {
  margin-right: 11px;
  margin-top: 29px;
}

.pagination-item:last-child {
  margin-right: 0;
  min-width: 260px;
  text-align: center;
}

.pagination-item a {
  position: relative;
  z-index: 1;

  display: block;
  padding: 16px 21px;

  line-height: 18px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #bfbfbf;
}

.pagination-item a:active::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 0;

  width: 100%;
  height: 47px;

  background-color: #d5d5d5;
  border-radius: 3px;
}

.pagination-item-current a {
  padding: 13px 18px;

  background: none;
  border: 3px solid #eeeeee;
}

.pagination-item-current a:hover {
  color: inherit;

  background-color: white;
}

.pagination-item-current a:active {
  background-color: white;
}

.pagination-item-current a:active::before {
  content: "";

  width: 0;
  height: 0;

  background-color: white;
}

.map {
  position: relative;
  width: 100%;
  height: 416px;

  background: url("../img/map.jpg") no-repeat 50% -152px;
}

.map iframe {
  position: relative;
  border: none;
}

.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 1160px;
  height: 416px;
  margin: auto;
  padding: 0 20px;
}

.feedback {
  position: absolute;
  top: 48px;
  z-index: 1;

  box-sizing: border-box;
  width: 319px;
  height: 307px;
  padding: 0 50px;
  padding-top: 48px;

  background-color: white;
}

.feedback h3 {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.feedback p {
  max-width: 209px;

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;

  color: #666666;
}

.address {
  display: block;
  margin: 23px 0;
  margin-bottom: 37px;

  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;

  color: rgb(102, 102, 102);
}

.address .tel {
  display: block;
  margin-top: 18px;

  color: rgb(102, 102, 102);
}

.feedback-button {
  position: relative;
  z-index: 1;

  display: inline-block;
  box-sizing: border-box;
  width: 219px;
  height: 50px;
  padding-top: 17px;
  padding-bottom: 18px;
  margin-bottom: 47px;
  text-align: center;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  
  color: #ffffff;
  background-color: #fb565a;

  outline: none;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.feedback-button:hover,
.feedback-button:focus {
  background-color: #e74246;
}

.feedback-button:active {
  background-color: #c13135;
  color: rgba(255, 255, 255, 0.3);
}

.feedback-button:active::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 0;

  width: 219px;
  height: 47px;
  
  background-color: #d7373b;
  border-radius: 3px;
}

.main-footer {
  margin-top: 69px;
  margin-bottom: 70px;
}

.main-footer .container {
  display: flex;
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.social-btns {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 260px;

  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-sale {
  align-self: center;
  width: 560px;
  margin-left: 140px;
}

.footer-sale b {
  padding: 0;
  margin: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-sale p {
  margin: 0;
  margin-top: 8px;
  padding: 0;

  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #444444;
}

.modal {
  position: fixed;
  z-index: 200;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-write {
  box-sizing: border-box;
  bottom: 15%;
  left: 50%;

  width: 960px;
  margin-left: -480px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
  padding-bottom: 85px;
}

.modal-write h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.submit-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-item {
  margin: 0;
  margin-bottom: 35px;
  width: 360px;
}

.form-item label {
  display: block;
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.form-item input {
  box-sizing: border-box;
  width: 360px;

  padding: 0;
  margin: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);

  border: solid 2px #d7dcde;
  border-radius: 2px;
}

.form-item input::-webkit-input-placeholder,
.form-item textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5); 
}

.form-item input::-moz-placeholder,
.form-item textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5); 
}

.form-item input:-ms-input-placeholder,
.form-item textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5); 
}

.form-item.usertext {
  width: 760px;
}

.form-item textarea {
  box-sizing: border-box;
  width: 760px;
  height: 118px;

  padding: 0;
  margin: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  resize: none;
  
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);

  border: solid 2px #d7dcde;
  border-radius: 2px;
}

.form-item input:hover,
.form-item textarea:hover {
  border-color: #b4b9bb;
}

.form-item input:focus,
.form-item textarea:focus {
  color: #000000;

  border-color: #000000;
  outline: none;
}

.form-item input:invalid,
.form-item textarea:invalid {
  color: #fb565a;

  border-color: #e74246;
}

.form-item input:focus::-webkit-input-placeholder,
.form-item textarea:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0); 
}

.form-item input:focus::-moz-placeholder,
.form-item textarea:focus::-moz-placeholder {
  color: rgba(0, 0, 0); 
}

.form-item input:focus:-ms-input-placeholder,
.form-item textarea:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0); 
}

.form-item input:invalid::-webkit-input-placeholder,
.form-item textarea:invalid::-webkit-input-placeholder {
  color: #fb565a;
}

.form-item input:invalid::-moz-placeholder,
.form-item textarea:invalid::-moz-placeholder {
  color: #fb565a;
}

.form-item input:invalid:-ms-input-placeholder,
.form-item textarea:invalid:-ms-input-placeholder {
  color: #fb565a;
}

input.invalid-input::-webkit-input-placeholder,
textarea.invalid-input::-webkit-input-placeholder {
  color: #fb565a;

  border-color: #e74246;
}

input.invalid-input::-moz-placeholder,
textarea.invalid-input::-moz-placeholder {
  color: #fb565a;

  border-color: #e74246;
}

input.invalid-input:-ms-input-placeholder,
textarea.invalid-input:-ms-input-placeholder {
  color: #fb565a;

  border-color: #e74246;
}

input.invalid-input,
textarea.invalid-input {
  border-color: #e74246;
}

.send-button {
  display: block;
  width: 260px;
  height: 50px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none;
}

.send-button:hover,
.send-button:focus {
  background-color: #e74246;
}

.send-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background: url("../img/close-cross.svg") no-repeat 0 0;
  opacity: 0.3; 
  border: none;
  cursor: pointer;
  outline: none;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

